*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 333px 390px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


.content {
  display: flex;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}


/* ---------- ЛЕВАЯ КОЛОНКА (видео и форма) ---------- */
.result {
  width: 711px;
}

/* --- КОНТЕЙНЕР ВИДЕО --- */ 
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

/* видео */
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --- ФОРМА ПОИСКА --- */
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-top: 16px;
}

/* поле ввода города */
.search-form__textfield {
  background-color: transparent;
  border: none;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  appearance: none;
  min-width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

/* --- ПОЛЯ ФОРМЫ ГОРОД И ВРЕМЯ СУТОК --- */
.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 10px;
}

/* --- ЧЕК-БОКС --- */
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #FFFFFF;
  padding: 1px;
  display: inline-block;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* --- ТЕКСТ ФОРМЫ --- */
.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 2px;
}


/*---------- ПРАВАЯ КОЛОНКА (заголовок + карточки) ----------*/
.content__details {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 399px;
}

/* --- ЗАГОЛОВОК --- */
.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
  color: #FFFFFF;
}

.content__accent {
  color: #545050;
}

/* --- КОНТЕЙНЕР СПИСКА КАРТОЧЕК --- */
.content__list-container {
  flex-grow: 1;
  height: 298px;
  overflow-y: auto;
  gap: 10px;
  position: relative;
}

/* список карточек */
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* ссылка-карточка */
.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 2px;
}

/* карточка */
.content__video-card {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 100%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}


/*---------- КНОПКИ ----------*/
.button {
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  padding: 6px 0;
  min-height: 40px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  color: #FFFFFF;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFFFFF;
}

/* найти */
.search-form__submit-button {
  width: 200px;
  align-self: flex-end;
}

/* показать ещё */
.more-button {
  width: 100%;   
  margin-top: 30px;
}



/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
